@import "../variables/var.scss";

.about-us {
    padding: 80px 0;
    width: 100%;
    overflow: hidden;
    .title-top {
        text-transform: capitalize;
        h2 {
            font-weight: bold;
            color: $blackColor;
        }
        h4 {
            margin: 20px 0 10px;
            font-weight: bold;
            color: $greenColor;
        }
        p {
            color: $textColor;
            font-size: 14px;
            max-width: 70%;
            line-height: 1.9;
            font-weight: bold;
            word-spacing: 1px;
        }
    }
}





// responsive


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    .about-us {
        padding: 50px 0;
        .title-top {
            p {
                max-width: 100%;
            }
        }
    }

 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .about-us {
        padding: 50px 0;
        .title-top {
            p {
                max-width: 100%;
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .about-us {
        padding: 50px 0;
        .title-top {
            p {
                max-width: 100%;
            }
        }
    }
 }