@import "../variables/var.scss";

.dropdown {
    .btn {
        color: $greenColor;
        font-size: 20px;
        i {
            padding: 0 6px;
        }
    }

}

.dropdown-toggle::after {
    margin: 0;
}
